<div class="col-lg-12", "col-md-12", "col-sm-12", "col-xs-12">
	<h1>About this app</h1>
	<h4>
		<p>This is my interview task application for <a href="http://light-it.net/ru/">LightIT</a> company.</p>
	</h4>
</div>