<div class="col-lg-12", "col-md-12", "col-sm-12", "col-xs-12">
	<h1 align="center">What is Caesar cipher?</h1>
	<h4>
		<p align="justify">In cryptography, a Caesar cipher, also known as Caesar's cipher, the shift cipher, Caesar's code or Caesar shift, is one of the simplest and most widely known encryption techniques. It is a type of substitution cipher in which each letter in the plaintext is replaced by a letter some fixed number of positions down the alphabet. For example, with a left shift of 3, D would be replaced by A, E would become B, and so on. The method is named after Julius Caesar, who used it in his private correspondence.</p>
	</h4>
	<h1 align="center">How does it works?</h1>
	<p align="justify">Lorem ipsum dolor sit amet</p>
	<h1 align="center">How should I use this site?</h1>
	<p align="justify">Lorem ipsum dolor sit amet</p>
</div>